<header class="header">
  <!-- Main Navbar -->
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(236, 236, 236);">
    <div class="search-area">
      <div class="search-area-inner d-flex align-items-center justify-content-center">
        <div class="close-btn"><i class="icon-close"></i></div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-8">
            <form action="#">
              <div class="form-group">
                <input type="search" name="search" id="search" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search-1"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Navbar Brand -->
      <div class="navbar-header d-flex align-items-center justify-content-between">
        <!-- Navbar Brand --><a routerLink="/home" routerLinkActive="active"  class="navbar-brand">Booking App</a>
      </div>
      <!-- Navbar Menu -->
      <div class="topnav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link ">Home</a>
          </li>
          <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link ">About</a>
          </li>
          
          
          <li class="nav-item" *ngIf="!(token)"><a routerLink="/register" routerLinkActive="active" class="nav-link ">Register</a>
          </li>
        
        <li class="nav-item" *ngIf="token" routerLinkActive="active"><a routerLink="appointments" class="nav-link ">temp</a></li>
        
        
        
            <li class="nav-item" *ngIf="!(token)" routerLinkActive="active"><a routerLink="login" class="nav-link ">Login</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="home" class="nav-link "><span *ngIf="token">Welcome! {{token.firstName}} {{token.lastName}}</span></a></li>
            
          </ul>
        
      </div>
    </div>
  </nav>
</header>