<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="logo">
            <h6 class="text-white">Booking App</h6>
          </div>
          <div class="contact-details">
          <p>Created by Group 1</p>
            
            <ul class="social-menu">
              <li class="list-inline-item"><a href="https://twitter.com/SenecaCollege"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/senecacollege/?hl=en"><i class="fa fa-instagram"></i></a></li>
  
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="menus d-flex">
            <ul class="list-unstyled">
              <li> <a href="#">Contact Us</a></li>
              
            </ul>
            <ul class="list-unstyled">
              <li> <a href="#"></a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2021. All rights reserved. Booking App.</p>
          </div>
          <div class="col-md-6 text-right">
            
          </div>
        </div>
      </div>
    </div>
  </footer>