<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <br>
            <strong>Register for an account</strong>
            <br><br>
          </div>

          <!-- Create an error message box  -->
          <div class="errorMessage">
            
          </div>
      
          <!-- Register Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="First Name">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Last Name">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Confirm Password">
            <br><br>
            <input type="submit" class="fadeIn fourth" value="Register">
          </form>
      
          <!-- Form footer -->
          <div id="formFooter">
          </div>
      
        </div>
      </div>
</div>