<div class="container">

  <div class="title"><h4>Reviews waiting validation</h4></div>
              <table class="table table-hover">
                <thead>
                <tr>
                
                <th>Rating</th>
                <th>Comment</th>
                <th>Author</th>
                <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let review of reviews">
                    
                    <td *ngIf="(review.valid=='Submit')">{{review.ratings}}</td>
                    <td *ngIf="(review.valid=='Submit')">{{review.comments}}</td>
                    <td *ngIf="(review.valid=='Submit')">{{review.author.firstName}} {{review.author.lastName}}</td>
                    <td *ngIf="(review.valid=='Submit')"><button (click)="validate($event, review._id)">OK</button><button (click)="dismiss($event, review._id)">Refuse</button></td>

                </tr>
                </tbody>
                </table>





</div>