<div class="container">
    <div class="title">
            <div class="card">
                <div class="card-body" style="padding: 30px">

                    <div class="row">
                        <div class="col-sm">
                            <h3>Profile Name</h3>
                            <a href="/shop-profile" class="text-decoration-none">Barber Shop</a>
                            <p>Profile Information</p>
                        </div>
                        <div class="col-sm">
                            <img src="https://image.shutterstock.com/image-photo/barber-shop-pole-background-concept-600w-1129845197.jpg" class="img-thumbnail" alt="Profile image">
                        </div>
                    </div>

                    <!-- Photo slides -->
                    <div class="row" style="padding: 40px;">
                        <div class="col-sm">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="https://image.shutterstock.com/image-photo/barber-shop-pole-background-concept-600w-1129845197.jpg" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="https://www.shutterstock.com/image-photo/vintage-barber-shop-tools-on-wood-316155659" class="d-block w-100" alt="...">
                                  </div>
                                  <div class="carousel-item">
                                    <img src="https://www.shutterstock.com/image-photo/vintage-barber-shop-tools-on-wood-316155659" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <p>Book an Appointment</p>
                        </div>
                        <div class="col">
                            <p>Appointment Schedule</p>
                        </div>
                    </div>

                <div>
            </div>
        </div>
    </div>

</div>
