<br />
    <div class="container">
       
        <div class ="title" > <strong>Barbers of shop</strong></div>
        <div class="row">
            <div class="col-md-4">
            <table class="table table-hover">
            <thead>
            <tr>
               
                <th >Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Working Date</th>
                <th>Reviews</th>
                
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let barber of Barbers">
                
                <td>{{barber.firstName}} {{barber.lastName}}</td>
                <td>{{barber.phoneNumber}}</td>
                <td>{{barber.email}}</td>
                <td><div class="schedule" *ngFor="let schedule of barber.schedules">
                    <div class="date">{{schedule.workDate}}</div>
                    <div class="time">{{schedule.starTime}} ~ {{schedule.endTime}}</div>
                </div></td>
                <td><div class="review" *ngFor="let review of barber.reviews">
                    <div class="rate">{{review.rating}}</div>
                    <div class="comment" innerHtml={{review.comment}}></div>
                </div>

                </td>
            </tr>
            </tbody>
            </table>
            </div>
        </div>
    </div>
<br />