
<div class="container">
  <!-- <div class="title">
      <strong>{{shop.barberShopName}}</strong>
  </div> -->
  <br>

  <!-- Shop Info -->
  <div class="row">
      <div class="col">  
          <div class="card" style="width: 33rem;">
              <div class="card-body">
                <h5 class="card-title">{{shop.barberShopName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Shop Info</h6>
                <p class="card-text">Located at: {{shop.address}}</p>
                <p class="card-text">You have question? call {{shop.phoneNumber}}</p>
                <br><br>
              </div>
          </div>
          <br>
      </div>
      <div class="col">
          <div class="card" style="width: 34rem;">
              <div class="card-body">
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="..." class="d-block w-100" alt="Shop Image">
                        </div>
                        <div class="carousel-item">
                          <img src="..." class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="..." class="d-block w-100" alt="...">
                        </div>
                      </div>
                  </div> 
              </div>
          </div>
      </div> 
  </div>

  <!-- Barbers list -->
  <div class="title" style="text-align: left; padding: 1px;">
    <div *ngIf="isManager" class="btn btn-outline-primary" (click)="Add($event, shop._id)">Add barber</div>  
    <br><br>
    <strong>Barbers Available</strong>
      
  </div>
  <div class="row">
      <div class="col">
        <table class="table table-hover">
          <thead>
          <tr>
          <th>Barber Name</th>
          <th>email</th>
          <th>Contact</th>
          <th >Role</th>
          <th></th>
          <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let barber of barbers" >
              <td (click)="rowClicked($event, barber._id)">{{barber.firstName}} {{barber.lastName}}</td>
              <td (click)="rowClicked($event, barber._id)">{{barber.email}}</td>
              <td (click)="rowClicked($event, barber._id)">{{barber.phoneNumber}}</td>
              <td >
                <div *ngIf="barber.isManager; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>Manager</ng-template>
                <ng-template #elseBlock>Barber</ng-template>
              </td>
              <td *ngIf="isAdmin">
                <div *ngIf="barber.isManager; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><button (click)="disable($event, barber._id,shop._id)">Disable Manager</button></ng-template>
                <ng-template #elseBlock><button (click)="enable($event, barber._id,shop._id)">Enable Manager</button></ng-template>

              </td>
              <td *ngIf ="isManager&&(this.token._id != barber._id)">
                <div class="btn btn-primary" (click)="delete($event, barber._id, shop._id)">Remove</div>
              </td>
          </tr>
          </tbody>
          </table>

      </div>
      <div class="col">
          <div class="card" style="width: 34rem;">
              <div class="card-body">
                  <p>Map Location</p>
                  <div class="mapouter"><div class="gmap_canvas"><iframe width="400" height="400" id="gmap_canvas"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              </div>
          </div>
      </div>
      
  </div>
  <br><br><br>

  <!-- Queue -->
  <app-waiting-list></app-waiting-list>
  

  <!-- Reviews -->

  <div class="row">
      <br><br>
  </div>

</div>
