<div class="container">
  <div class="title">
        <strong>Available Shops</strong>
  </div>
  <br>
   <div class="row">
      <div class="col">
        <table class="table table-hover">
          <thead>
          <tr>
          <th>Shop Name</th>
          <th>Address</th>
          <th>Contact</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let shop of shops" (click)="rowClicked($event, shop._id)">
              <td>{{shop.barberShopName}}</td>
              <td>{{shop.address}}</td>
              <td>{{shop.phoneNumber}}</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="w-100"><app-paging (newPage)="getPage($event)" [page]="page"></app-paging></div>
</div>



<!-- 
<div class="container">
  <div class="wrapper fadeInDown">
      <div id="formContent">
       
        <div class="fadeIn first">
          <br>
          <strong>Home Page</strong>
          <br><br>
        </div>
  
        <div class="errorMessage">
          
        </div>

   
        <form>
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
          <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
          <br><br>
          <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    
        <div id="formFooter">
            <a class="underlineHover" href="/register">Register</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="underlineHover" href="#">Forgot Password</a>
        </div>
    
      </div>
    </div>
</div> -->