<div class="container">
    <div class="title">
        <strong>Available Shops</strong>
    </div>
     <div class="row">
        <div class="col">
            <div class="wrapper">
                <div class="list-group">
                  
                  
                    <a href="/shop-profile" class="list-group-item list-group-item-action active" *ngFor="let shop of barberShops"  aria-current="true">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"></h5>
                        <small>{{ shop.barberShopName }}</small>
                      </div>
                      <p class="mb-1">Some placeholder content in a paragraph.</p>
                      <small>And some small print.</small>
                    </a>

                    <!-- <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Some placeholder content in a paragraph.</p>
                      <small class="text-muted">And some muted small print.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Some placeholder content in a paragraph.</p>
                      <small class="text-muted">And some muted small print.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-muted">And some muted small print.</small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">List group item heading</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                        <small class="text-muted">And some muted small print.</small>
                      </a> -->
                  </div>
            </div>
            

        </div>

        <!-- <div class="col">
            
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small>And some small print.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small class="text-muted">And some muted small print.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Some placeholder content in a paragraph.</p>
                  <small class="text-muted">And some muted small print.</small>
                </a>
              </div>
        </div> -->

    </div>
</div>



<!-- 
<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
         
          <div class="fadeIn first">
            <br>
            <strong>Home Page</strong>
            <br><br>
          </div>
    
          <div class="errorMessage">
            
          </div>

     
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
            <br><br>
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <div id="formFooter">
              <a class="underlineHover" href="/register">Register</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="underlineHover" href="#">Forgot Password</a>
          </div>
      
        </div>
      </div>
</div> -->