<div>
    <a routerLink="/newReview">Post new Review</a>
</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">4/5</h5>
        <small>1 days ago</small>
      </div>
      <p class="mb-1">Placeholder info explaining the rating</p>
      <small>Submitted by: </small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">1/5</h5>
        <small class="text-muted">5 days ago</small>
      </div>
      <p class="mb-1">Placeholder info explaining the rating</p>
      <small class="text-muted">Submitted by: </small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">5/5</h5>
        <small class="text-muted">14 days ago</small>
      </div>
      <p class="mb-1">Placeholder info explaining the rating</p>
      <small class="text-muted">Submitted by: Anonymous</small>
    </a>
  </div>