<br />
    <div class="container">
       
        <div class ="title" > <strong>Barbers of shop</strong></div>
        <div class="row">
            <div class="col-md-4">
            <table class="table table-hover">
            <thead>
            <tr>
               
                <th >Name</th>
                <th>Working Date</th>
                
            </tr>
            </thead>
            <tbody>
            <tr>
                <!--<td><img width="100" height="100" src="../../assets/img/barber1.jpg"></td>-->
                <td>Kane Smith</td>
                <td>Mon 08:00 - 17:00 <br>Fri 09:00 - 14:00</td>
            </tr>
            </tbody>
            </table>
            </div>
        </div>
    </div>
<br />