<div class="container">
    <div class='title'>
       <h4> Your profile </h4>
    </div>
    <hr>
    <div>
        <dl>
       
            <dt>Your Name</dt>
       
            <dd>{{cust.firstName}} {{cust.lastName}}</dd>

            <dt>Email</dt>
            <dd>{{cust.email}}</dd>

            <dt>Contact</dt>
            <dd>{{cust.phoneNumber}}</dd>

            <dt>Role</dt>
            <dd>{{role}}</dd>
        </dl>

       
        
    </div>
    <hr>

    <div  *ngIf="isCust"  class="button">
        <div class="btn btn-outline-primary" (click)="change($event,cust._id)">Change your profile</div>&nbsp;&nbsp;
        <div class="btn btn-outline-primary" (click)="delete($event,cust._id)">Delete your account</div>&nbsp;&nbsp;
        <div class="btn btn-outline-primary" (click)="reviews($event,cust._id)">View your reviews</div>&nbsp;&nbsp;

        <a [routerLink]="['/customerAppointments', token._id]" class="btn btn-outline-primary">View Your Appointments</a>
    </div>







</div>    