
<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <br>
            <strong>Login</strong>
            <br><br>
          </div>
    
          <!-- Create an error message box  -->
          <div class="errorMessage">
            
          </div>

          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
            <br><br>
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Password -->
          <div id="formFooter">
              <a class="underlineHover" href="/register">Register</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="underlineHover" href="#">Forgot Password</a>
          </div>
      
        </div>
      </div>
</div>


