
<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <br>
            <strong>Login</strong>
            <br><br>
          </div>
    
          <!-- Create an error message box  -->
          <div class="errorMessage">
            
          </div>

          <!-- Login Form -->
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
              <label class="control-label" for="name">Email:</label>
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="customer.email" placeholder="ex) abc@ef.com" autofocus>

            </div>
            <div class="form-group">
              <label class="control-label" for="name">Password:</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="customer.password">

            </div>
            <div class="alert alert-danger" *ngIf="warning">
              {{warning}}
            </div>
            <br><br>
            <button class="btn btn-primary pull-right" type="submit">Login</button>
          </form>
      
          <!-- Remind Password -->
          <div id="formFooter">
              <a routerLink="/login-barber" routerLinkActive="active">Are you Employee?</a>
              <a class="underlineHover" href="/register">Register</a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a class="underlineHover" href="#">Forgot Password</a>
          </div>
      
        </div>
      </div>
</div>


