<div class="container">
  <div class="title"><h4>Reviews wrote by {{customer.firstName}} {{customer.lastName}}</h4></div>
  <table class="table table-hover">
    <thead>
    <tr>

    <th>Rating</th>
    <th>Comment</th>
    <th>status</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let review of reviews">

        <td >{{review.ratings}}</td>
        <td >{{review.comments}}</td>
        <td >{{review.valid}}</td>
        <td ><div class="btn btn-outline-primary" (click)="delete($event, review._id)"> Delete </div></td>

    </tr>
    </tbody>
    </table>

</div>