<div class="container">
    <div class="main-body">    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">                    
                    <div class="mt-3">
                      <h4>{{this.barber.firstName}}</h4>
                      <p class="text-secondary mb-1">Barber</p>
                      <p class="text-muted font-size-sm">Barber shop location</p>

                      <a routerLink="/reviews-list" class="btn btn-outline-primary">View Reviews</a>   
                      <a [routerLink]="['/appointment-form', barber._id]" class="btn btn-outline-primary">Book an Appointment</a>                    
                    </div>
                  </div>
                </div>
              </div>              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.barber.firstName}} {{this.barber.lastName}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.barber.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.barber.phoneNumber}}
                    </div>
                  </div>
                                  
                </div>
              </div>              
            </div>
          </div>
        </div>
    </div>