<div class="container">
    <div class="title">
        <strong>Reviews</strong>
    </div>
    <form  class="review-form">
        <div class="row">
          <div class="form-group col-md-4">
            <label>Rating
            <div class="rating">
                <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                <label for="star5">☆</label>
                <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                <label for="star4">☆</label>
                <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                <label for="star3">☆</label>
                <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                <label for="star2">☆</label>
                <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                <label for="star1">☆</label>
                <div class="clear"></div>
            </div></label>
          </div>
          <div class="form-group col-md-8">
            <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control"></textarea>
          </div>
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-secondary">Submit Comment</button>
          </div>
        </div>
      </form>

</div>