<div class="container">
  <div class="title">
    <strong>Available Shops</strong>
  </div>
  <br>

  <!-- Admin Features -->
  <div class="row" *ngIf="isAdmin">
    <div class="col">
      <button type="button" class="btn btn-light"><a routerLink="/addBarberShop" class="nav-link" routerLinkActive="active">Add Barber Shop</a></button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light"><a routerLink="/removeBarberShop" class="nav-link" routerLinkActive="active">Remove Barber Shop</a></button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light"><a routerLink="/customers-list" class="nav-link" routerLinkActive="active">View Customers</a></button>
    </div>
    <div class="col-md">
    </div>
  </div>

  <br>

  <div class="card" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
      <div class="row">
        <div class="col">
          <table class="table table-hover">
            <thead>
            <tr>
            <th>Shop Name</th>
            <th>Address</th>
            <th>Contact</th>
            </tr>
            </thead>
            <tbody class="t-body">
            <tr *ngFor="let shop of shops" (click)="rowClicked($event, shop._id)"> 
                <td><strong>{{shop.barberShopName}}</strong></td>
                <td>{{shop.address}}</td>
                <td>{{shop.phoneNumber}}</td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="w-100"><app-paging (newPage)="getPage($event)" [page]="page"></app-paging></div> -->
    <br>
  </div>

  <br>

</div>

